################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeetCodeResolvedTasks/v15/Server/sqlite3
/LeetCodeResolvedTasks/bin/Debug/netcoreapp2.1
/.vs/LeetCodeResolvedTasks/v15
